*{
    color: red;
}


.mainContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* Display Card for the information */

.libraryCard{
    border: 2px solid black;
    display: grid;
    justify-content: center;
}

/* Display Card End */

/* input form pop up */
.form{
    background-color: black;
    
}
/* form end */